<md-sidenav layout="column">
    <md-toolbar>
        <h2>SQUAREDDIT</h2>
    </md-toolbar>

    <small>current subreddit, click to change:</small><br>

    <input ng-model="posts.current.sub" class="text-capitalize" placeholder="Subreddit"><br><br>

    <small>Sort by:</small><br>
    <select 
        ng-model="posts.sortMethod" 
        ng-options="method for method in sortMethods">
    </select><br><br>

    <md-button 
        ng-click="updatePosts()" 
        class="md-raised md-primary">
        Update Posts
    </md-button>
</md-sidenav>


