html, body, sr-container, sr-pusher, sr-content { height: 100%; }
body {background-color:#ddd;}

/*==================================
    Sidebar Rules - from codrops
    http://tympanus.net/codrops/2013/08/28/transitions-for-off-canvas-navigations/
====================================*/

.sr-content {position:relative}

.sr-container {position:relative;}

.sr-pusher {
    position:relative;
    left:3vw;
    max-width:97vw;
    z-index:99;
    min-height:100vh;
    height:100%;
    transition:transform 0.5s;
}

.sr-menu {
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    width:300px;
    height:100vh;
    background:#48a770;
    transition:all 0.5s;
    background-color:#000;
    color:#fff;
}
.sr-menu-pullbar {
    position:relative;
    left:3vw;
    width:3vw;
    height:100vh;
    background-color:#000;
    float:right;
}
.sr-menu-pullbar-wrap {
    width:100%;
    display:table;
    height:100%;
}
.sr-effect.sr-menu-open .sr-menu-pullbar-wrap>.glyphicon {transform:rotate(180deg)}
.sr-menu-pullbar-wrap>.glyphicon {
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    color:#fff;
    transition:transform 0.2s;
}


/*==================================
    Sidebar Effect
====================================*/

.sr-container{overflow-y:hidden;}
.sr-container.sr-menu-open {perspective: 1500px;overflow-y:hidden;}
.sr-pusher {
    transform-origin: 0% 50%;
    transform-style: preserve-3d;
}
.sr-menu-open .sr-pusher {transform: translate3d(300px, 0, 0) rotateY(-15deg);}
.sr-menu {
    transform:translate3d(-100%, 0, 0); 
    transform-origin:100% 50%; 
    transform-style: preserve-3d;
}
.sr-menu-open .sr-menu {
    transition:transform 0.5s;
    transform:translate3d(0%, 0, 0);
}

/*==================================
    Content Styles
====================================*/

main {
    position:absolute;
    width:100%;
}
.sr-posts {
    display: flex;
    flex-wrap: wrap;
    height:100%;
}
.sr-post {
    margin: auto;
    width:33.33%;
    height: 66.66vh;
    position:relative;
}
.sr-post > * {flex: 1 100%;transition: opacity,500ms;}

.sr-post-title {
    opacity: 0;
    color:#fff;
    text-align:center;
    background-color: #000;
    font-weight: bold;
    text-decoration: none;
    position:absolute;
    bottom:0;
    width:100%;
}

.sr-post-vote {
    opacity:0;
    height:50%;
    width:20%;
    display:table;
}

.sr-post-vote > p {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    color:#fff;
}

.sr-post-vote-upvote {background-color:rgb(255, 139, 96);}
.sr-post-vote-downvote {background-color:rgb(161, 148, 255);clear:right;}

.sr-post:hover .sr-post-title {opacity:0.7;}
.sr-post:hover .sr-post-vote {opacity:0.3;}
.sr-post:hover .sr-post-vote:hover {opacity:0.9;}