body {background-color:#ddd;}
.sidenav-placeholder {
    width:3%;
    height:100%;
    display:block;
    float:left;
    position:absolute;
}
.sidenav {
    width:3%;
    height:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#000;
    z-index:9999;
    display:table;
}
.sidenav>.glyphicon {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:#fff;
}

main {
    position:absolute;
    width:100%;
}

.content {
    position:absolute;
    width:97%;
    left:3%;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    height:100%;
}

.post {
    margin: auto;
    width:33.33%;
    height: 33.33vh;
    position:relative;
}

.post > * {flex: 1 100%;}

.post-title {
    display:none;
    color:#fff;
    text-align:center;
    background-color: rgba(0,0,0,0.9);
    font-weight: bold;
    text-decoration: none;
    position:absolute;
    bottom:0;
    width:100%;
}

.post-vote {
    opacity:0;
    height:50%;
    width:20%;
    display:table;
}

.post-vote > p {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    color:#fff;
}

.post-vote-upvote {background-color:rgb(255, 139, 96);}
.post-vote-downvote {background-color:rgb(161, 148, 255);clear:right;}

.post:hover .post-title {display:block;}
.post:hover .post-vote {opacity:0.3;}
.post:hover .post-vote:hover {opacity:0.9;}