<h2>Choose a subreddit to view posts from:</h2>
<input ng-model="subreddit" placeholder="Subreddit">
<button ng-click="updatePosts()" class="btn btn-primary">Update Posts</button>
<button ng-click="showPosts()" class="btn btn-default">Post to Console</button>
<br><br>
<div class="posts">
<!--href="http://www.reddit.com{{post.data.permalink}}"-->
    <div ng-repeat="post in hot" class="post" backimg="{{post.data.url}}">
        <div class="post-vote-container pull-right">
            <div class="post-vote-upvote post-vote">
                <p>
                    <span class="glyphicon glyphicon-chevron-up"></span><br>
                    {{post.data.ups}}
                </p>
            </div>
            <div class="post-vote-downvote post-vote">
                <p><span class="glyphicon glyphicon-chevron-down"></span></p>
            </div>
        </div>
        <div class="post-title">{{post.data.title}}</div>
    </div>
</div>